body {
    background-color: #E0F5F6 !important;
}
#header {
    text-align: center;
    margin: 0 auto;
    background-color: #47C494;
    padding-bottom: 1em;
    padding-top: 1em;
}
#header h1{
    font-size: 4em;
    font-family: 'Rock Salt', cursive;
}
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left:0;
    
}

li {
    display: inline;
}
.intro {
    font-size: 1.2em;
    padding: .5em;
    text-align: left;
    margin: 0 auto;
    margin-top: .7em;
    background-color: #47C494;
    box-shadow: 5px 7px;
}
.card {
    box-shadow: 3px 5px;
    /*height: 22em;*/
}
.row {
    margin-top: 2em;
}
video{ 
    margin: 0 auto;
}

.outro {
    margin-top: 2em;
    margin-bottom: 2em;
}

